<div class="home container ">
    <div class="content">
        

        <div class="row px-3 content-2 text-center justify-content-center">
            <!-- <div class="col"> -->
                <h5><img src="{{logo_src}}" width="150" alt=""></h5>
                <h5 class="text-light w-lg-50 text-justify text-center">She carries freedom in her footsteps even as her father remains caged.</h5>
            <!-- </div>
            <div class="col text-end my-auto"> -->
                <a type="a" class="btn btn-outline-warning mt-4" href="/comic/1/1-2" style="width: 20%"><h5>Read</h5></a>
            <!-- </div> -->
        </div>
    </div>
</div>

<app-chapters-list-component></app-chapters-list-component>